<body>
    <br>
    <div class="container">
        <div class="card text-white bg-black mb-3">
            <div class="card-body">
                <h5 class="card-title">Liste des rockets</h5>
                <form class="form-inline col">
                <div class="col-xs-5">
                <label class="card-title"><b>Type The Rocket Name :</b></label><input class="form-control col-xs-2" #searchTerm (keyup)="onKeyUp(searchTerm.value)"> 
                </div>
                </form>
                <br>
                <table class="table table-dark table-striped">
                    <thead>
                        <tr>
                            <th scope="col">ID Rocket</th>
                            <th scope="col">Rocket Name</th>
                            <th scope="col">Constractor</th>
                            <th scope="col">low orbit payload</th>
                            <th scope="col">high orbit payload</th>
                            <th scope="col">Date Of launch</th>
                            <th scope="col">Number of launchs</th>
                            <th scope="col">Fails</th>
                            <th></th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let rocket of rockets">
                            <td>{{rocket.id}}</td>
                            <td>{{rocket.name}}</td>
                            <td>{{rocket.constractor.nameC}}</td>
                            <td>{{rocket.lowOrbitPayload}}</td>
                            <td>{{rocket.highOrbitPayload}}</td>
                            <td>{{rocket.dateOfLaunch | date:'dd/MM/yyy'}}</td>
                            <td>{{rocket.numberOfLaunchs}}</td>
                            <td>{{rocket.fails}}</td>
                            <td><a *ngIf="authService.isAdmin()" class="btn btn-danger" (click)="deleteRocket(rocket)">Delete</a></td>
                            <td><a *ngIf="authService.isAdmin()" class="btn btn-success" [routerLink]="['/updaterocket',rocket.id]">Modifie</a></td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <br>
    </body>